.onepage{
    height: 30%;
    margin-top: 30px;
    text-align: center;
}
.twopage{
    height: 30%;
    margin-bottom: 30px;
    text-align: center;
}
.page-header{
    height: 30%;
    margin-top: 40px;
    text-align: left;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-left: 10px solid #d8e9e6;
    border-right: 10px solid #d8e9e6;
    border-bottom: 10px solid #d8e9e6;
    border-top: 10px solid #d8e9e6;
    text-align: center;
}
.events{
    padding-left: 19%;
}

.category {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-left: 10px solid #2397CA;
    border-right: 10px solid #2397CA;
    border-bottom: 10px solid #2397CA;
    border-top: 10px solid #2397CA;
    text-align: center;
}
#recent{
    text-align: center;
    top: 15%;
    bottom: 0;
}
.photo-wall{
    float: left;
    padding: 0 2px 2px 0;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
}
.photo-wall >a{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}
.classicon h1{
    margin-top: 120px;
    color: #FEDF62;
}
.classicon h3{
    color: #fff5e1;
}
.classicon{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #FFF;
    opacity: 0;
}
.classicon:hover{
    background: #2397CA;
    opacity: 0.9;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
.modal-header {
  border-bottom: 1px solid #9a9a9a;
}

.modal-footer {
  border-top: 1px solid #9a9a9a;
}

.btn-ciao {
  color: #ffffff;
  background-color: #2397CA;
}

.img-thumbnail {
  border-radius: 75px;
}

form {
  margin-top: 10px;
}

#cog1 {
  font-size: 20px;
  float: right;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 50px;
    width: 100%;
}
.main-content .content h1{
    font-weight: 100;
}
.main-content .content p{
    width: 100%;
    line-height: 160%;
}
.main-content #sidebar-toggle {
    background: #2397CA;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}
.main-content #sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child{
    margin-bottom: 0;
}
